* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    min-height: 100vh;
    background: url(../images/html_table.jpg) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
  
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
  
    overflow: hidden;
  }
  
  .table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 0.8rem 1rem;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
  
    margin: 0.8rem auto;
    border-radius: 0.6rem;
  
    overflow: auto;
    overflow: overlay;
  }
  
  .table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  
  .table__body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
  }
  
  .table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  
  table {
    width: 100%;
  }
  
  td img {
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
    border-radius: 50%;
  
    vertical-align: middle;
  }
  
  table,
  th,
  td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
  }
  
  thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
  }
  
  tbody tr:nth-child(even) {
    background-color: #0000000b;
  }
  
  tbody tr {
    --delay: 0.1s;
    transition: 0.5s ease-in-out var(--delay), background-color 0s;
  }
  
  tbody tr:hover {
    background-color: #fff6 !important;
  }
  
  tbody tr td,
  tbody tr td p,
  tbody tr td img {
    transition: 0.2s ease-in-out;
  }
  
  tbody tr.hide td,
  tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: 0.2s ease-in-out 0.5s;
  }
  
  tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: 0.2s ease-in-out 0.5s;
  }
  
  @media (max-width: 1000px) {
    td:not(:first-of-type) {
      min-width: 12.1rem;
    }
  }
  
  thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
  
    text-align: center;
    font-size: 1rem;
  
    margin-left: 0.5rem;
    transition: 0.2s ease-in-out;
  }
  
  thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
  }
  
  thead th:hover {
    color: #6c00bd;
  }
  
  thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
  }
  
  thead th.asc span.icon-arrow {
    transform: rotate(180deg);
  }
  
  thead th.active,
  tbody td.active {
    color: #6c00bd;
  }
  
  /*  BTN CSS */
  .btn__panel {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    position: relative;
    background: transparent;
    color: #56317a;
    text-transform: uppercase;
    border: 3px solid #fff;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 100px;
  }
  
  .btn__panel:hover {
    color: #fff;
  }
  .btn__panel span {
    transition: all 0.7s;
    z-index: -1;
  }
  
  .btn__panel .first {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    width: 25%;
    height: 100%;
    background: #6004bdee;
  }
  
  .btn__panel:hover .first {
    top: 0;
    right: 0;
  }
  .btn__panel .second {
    content: '';
    position: absolute;
    left: 25%;
    top: -100%;
    height: 100%;
    width: 25%;
    background: #6004bdee;
  }
  
  .btn__panel:hover .second {
    top: 0;
    left: 50%;
  }
  
  .btn__panel .third {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: #6004bdee;
  }
  
  .btn__panel:hover .third {
    top: 0;
    left: 25%;
  }
  
  .btn__panel .fourth {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: #6004bdee;
  }
  
  .btn__panel:hover .fourth {
    top: 0;
    left: 0;
  }